    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Glory:wght@700&family=Oswald:wght@500&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Glory:wght@700&family=Oswald:wght@500&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Glory:wght@700&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        color: white;
    }
    body{
/*        background-color: #f1f1f1;*/

    }


    header{
        width: 100%;
    }
/*header section*/
    .main-header-1{
        width: 100%;
        background: #ffffff;
        border-bottom: 4px solid #0cbd0c;
    }
    .main-header{

        padding: 0 15px;
        max-width: 1400px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-menu{
        display: flex;
        column-gap: 20px;
    }
    .header-menu-item{
        
        display: flex;
        column-gap: 10px;
    }
    .header-menu-item .fa-solid{
        font-size: 18px;
        color: #03d103;
    }
    .menu-name{
        color: black;
        font-family: Oswald;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 13px;
    }
    .menu-searchber{
        height: 25px;
        margin-right: 10px;
        padding-left: 5px;
        border-radius: 5px; /*Search Ber*/
        outline: none;
        border: none;
        background: #9999994f;
    } 
    .fa-solid, .fas {
        font-weight: 900;
        color: rebeccapurple;
    }

/* main-header-2*/
    
    .main-header-2{
        width: 100%;
        background: #454548;
    }
    .main-header-box{
        padding: 0 15px;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-header-box-item{
        display: flex;
        justify-content: space-between;
    }
    .menu-box-item{
        background: none;
        object-fit: fill;
        padding: 16px 10PX;
        font-size: 15px;
        font-weight: 600;
        color: #ffffff;
        letter-spacing: -0.5px;
        font-family: 'Roboto', sans-serif;
        border: none;
        border-right: 1px solid #a9a5a569;
        outline: none;
    }
    .menu-box-item-2{
        background: none;
        object-fit: fill;
        padding: 16px 10PX;
        color: #ffffffc2;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.5px;
        font-family: 'Roboto', sans-serif;
        border: none;
        outline: none;
    }

    .header-3{
        background: black;
        border-bottom: 2px solid #ffffff1c;
    }
    .header-3-box{

        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 400;
        font-family: Fira Sans;
    }
    .header-3-box span{
       font-family: Oswald; 
    }
    .header-3-box .learn-more{
        display: flex;
        column-gap: 10px;
    }
    .learn-more a{
        font-family: Oswald;
        color: white;
        font-size: 13px;
        font-weight: 500;
    }
/*start Hero section*/

    .hero-section{
        object-fit: fill;
        background-image: url('../images/heroh.jpg');
        background-size: cover;
        height: 500px;
    }
    
    .hero-section-title{
        text-align: inherit;
        width: 35%;
        margin-left: 15px;
        position: relative;
        height: 100%;
        padding: 20px;

    }
    .hero-section-text h2{
        font-family: Oswald;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 60px;
        line-height: 60px;
        margin: 0;
        padding: 10px 0;
    }
    .hero-section-text p{
        font-family: Oswald;
        font-size: 25px;
        color: #ffffff7a;
        margin: 10px 0 0 0;
        
        letter-spacing: 0.5px; 
    }
    

    .hero-section-button button{
            background: black;
            padding: 10px 20px;
            font-weight: 600;
            margin-right: 5px;
            outline: none;
            border: 1px solid green;
            border-radius: 1px;
            margin-top: 20px;
    }


/*OFFERS & PROMOTIONS*/
    .promotion{
        background-color: #f1f1f1;
    }
    .promotion-section{
        
        max-width: 1400px;
        padding: 50px 0;
        margin: 0 auto;

    }
    .promotion-title{
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .promotion-title-1{
        white-space: nowrap;
        font-family: Oswald;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 40px;
        color: #000;
        line-height: 47px;
        margin: 0;

    }
    .promotion-title-2{
        width: 100%;
        align-self: flex-end;
        margin-left: 7px;
        margin-bottom: 10px;
        border-bottom: 1.5px solid #00d300;
    }

/*promotion-items-1*/

    .promotion-items{
        height: 100%;
        margin: 30px 10px;
        display: flex;
        column-gap: 30px;
    }

    .promotion-items-1{
            width: 450px;
            background-color: white;
            box-shadow: 0 0 10px 0 rgba(71,71,71,.2);
    }
    .promotion-items-1-img img{
        max-width: 100%;
        border-bottom: 4px solid #00d300;
    }
    .promotion-items-1-text{
          padding: 20px 20px 0;
    }
    .tex-line-0{
        font-family: Oswald;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        color: #000;
        line-height: 20px;
        margin: 0;
    }
    .tex-line-1{
        font-family: Fira Sans;
        font-weight: 400;
        font-size: 13px;
        color: #000;
        line-height: 20px;
        margin: 0;
    }
    .tex-line-2{
        padding: 20px 0;
        text-transform: uppercase;
        font-family: Fira Sans;
        font-weight: 800;
        font-size: 13px;
        color: #000;
        line-height: 20px;
        margin: 0;
    }
    .view-all-offers{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .view-all-offers button{
        margin-top: 30px;
        padding: 20px 25px;
        background: black;
        outline: none;
        border: none;
        text-transform: uppercase;
        font-family: Oswald;
        font-size: 16px;
    }
    .view-all-offers button:hover{
        cursor: pointer;
        background: #e0e0de;
        color: black;
        border-radius: 3px;
        transition: 0.6s;
    }
    
/*FEATURED VEHICLES*/

        .ANNIVERSARY-EDITION{
            padding: 30px 0;
            display: flex;

        flex-wrap: wrap;
        }
        .EDITION{
            display: flex;
            width: 450px;
            flex-grow: 1;
            flex-basis: 300px;
            flex-direction: column;
            padding: 0 15PX 60PX 15PX;
        }
        .KX-450-img{

        }
        .KX-450-text p{
            font-family: Oswald;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
            color: #000;
            line-height: 20px;
            margin: 0;
            text-align: center;
        }
        .KX-450-text h2{
            text-align: center;
            font-family: Oswald;
            font-weight: 500;
            font-size: 32px;
            color: #000;
            line-height: 37px;
            padding: 10px 0;
        }
        .KX-450-text span{
            display: block;
            font-family: Fira Sans;
            font-weight: 400;
            font-size: 13px;
            color: #000000bf;
            line-height: 20px;
            margin: 0;
            text-align: center;
        }

/*accessories-section*/

    .accessories-section{
        background: #202021;
            padding: 100px 0 80px;
    }
    .accessories-box{
        max-width: 1400px;
        margin: 0 auto;
        
    }
     .add{
        color: white;
    }
    .accessories-items{
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
        padding: 40px 0;

    }
    .accessories-card{
        background: #000;
        padding: 20px 0 0;
        width: 450px;
        flex-grow: 1;
        flex-basis: 250px;
        
           }
    .card-text p{
        color: #6c3;
        font-family: Oswald;
        font-weight: 500;
        text-align: center;
    }
    .card-text h2{
        text-align: center;
        font-family: Oswald;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 30px;
        margin: 5px 0 20px;
    }
    .card-img{
        font-size: 0;
    }
    .card-img img{
       width: 100%;    
    }

/*footer Section*/

    footer{
        background: black;
        width: 100%;

    }
    .footer-section{
        margin: 0 auto;
        max-width: 1400px;
         padding: 30px 0px;
    }
    .footer-items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

    }
    .items-1{
        width: 350px;
        color: white;
    }
    .items-1 p{
        font-size: 20px;
        font-weight: 400;
        padding: 3px 0;

    }
    .items-1 a{
        font-size: 15px;
        padding: 4px;
        line-height: 22px;
    }
    .items-2{
        
        width: 300px;
        text-align: center;
        line-height: 20px;

    }
    .items-3{
        
        width: 250px;
        display: flex;
        justify-content: space-evenly;
        align-self: flex-start;
         font-size: 25px;
    }
    .app-icon{
        display: flex;

    } 

    .app-icon img{
        border: 1.5px solid white;
        border-radius: 6px;
        width: 100px;
        margin: 20px;
        
    }   